.createnewlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    width: max-content;
    padding: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.add-list {
    display: block;
}

.labelcreatenew {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin: 0 5px;
}
